body {
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}/*
	
td {
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;	
	}	
	
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#999B3B;	
	}
	
h1 {
	font:24px Arial, Helvetica, sans-serif;
	color:#F51010;	
	}
	
h3 {
	font:18px Arial, Helvetica, sans-serif;
	color:#000000;	
	}
        
h4 {
	font:14px Arial, Helvetica, sans-serif;
	color:#000000;	
	}
	
*/a {
	letter-spacing:.1em;
        font-weight: bold;
        text-decoration: none;
        
	}
        
  a:active {
text-decoration: none;


}


a:link {
text-decoration: none;


}


a:visited {
text-decoration: none;


}


a:hover {
text-decoration: none;
}  
        
        
        
        
        
        /*

#navigation a {
	color: #FFF0C9;
	line-height:17px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	}
	
div {
  margin: .4em 0;
}

contenedor {
  width: 600px;
  margin: 0 auto;
  margin-left: auto;
  padding-left: 50%;
}

modificarPlato{
    font:18px Arial, Helvetica, sans-serif;
    color:#000000;	  
    text-decoration: none;
}*/
